/********************* RESET CSS *********************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

span.formerror {
  display: BLOCK;
  background-color: #fbe8aa;
  color: #ef831d;
  font-weight: 700;
  width: 100%;
  height: 53px;
  clear: both;
  position: absolute;
  left: 319px;
  /* text-align: center; */
  vertical-align: center;
  padding: 15px 50px;
}
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fff;
  background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%),radial-gradient(circle at 25.99% 27.79%, #ff94fb, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
  color: #000;
  font-family: 'Lato', 'Arial', sans-serif;
  line-height: 1.25;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.clearfix {zoom: 1;}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


section {
  padding: 80px 0;
}


/* ----- HEADINGS ----- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 2rem;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 1rem;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #479af4;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}


/* ----- ICONS ----- */
.icon-big {
  font-size: 350%;
  display: block;
  color: #479af4;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #479af4;
  font-size: 120%;
  margin-right: 10px;
  
  /*secrets to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
  color: #479af4;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #479af4;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */

.bt-basket {
  width:60px;
  margin: 20px 0;
  top:10px;
  font-weight: 700;
  background-color: #175fac;
  color: white;
  padding: 10px;
}
.basket-qnt {margin:20px;line-height:30px; font-size:20px; letter-spacing:-3px}

/* ----- FORM ----- */
input {
  padding: 5px;
  display: block;
  border-radius: 5px;
  margin: 5px;
}

/*width:60px; position:relative; top:10px font-wei*/
.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 5px 15px;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  border-radius: 8px;
}
input[type=submit].bt-add, input[type=submit].bt-add:visited {
  font-size: 12px;
  background-color: #459efd;
  border-color: #459efd;
  display: inline;
}

input[type=submit].bt-add:hover {
  background-color: #54a4ff
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #008aab;
  border: 1px solid #008aab;
  color: #fff;
  margin-left: 10px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #479af4;
  color: #479af4;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #175fac;;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #175fac;;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #175fac;;
  color: #fff;
}


/* ----------------------------------------------- */
/* ALL DIV */
/* ----------------------------------------------- */

.hold {
  width: 100vw;
  position: fixed;
  top: 76px;
  left: 0;
}
.main {
  width: 700px;
  height: 70vh;
  margin: 50px 30px;
  background-color: rgba(255,255,255,0.3);
  display: inline;
  float: left;
}

.images {
  margin: 0 auto;
  height: 100%;
  padding: 10px;
  height: 100vh;
  overflow: auto;
}
.left { float: left; }

/***************** IMAGE BOX ********************/
figure {
  display: inline;
  text-align: center;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 1.5em;
  padding: 1.5em;
  background-color: white;
}
hr {
  clear: both;
  margin: 250px 0 10px 0;
}
.img {
  display: inline;
  width: 150px;
  height: 150px;
  margin: 10px;
}
img.img {
  display: block;
}
.price {
  margin: 0 13px 0;
  float: left;
  font-size: 20px;
}
figure > input[type=submit] {
display: block;
width: 88%;
}



.menu-left:active, .menu-left:hover {
  left: 0;
}
.menu-left {
  padding-top: 50px;
  width: 300px;
  height: 100vh;
  background-color: #fbfbfb80;
  left: 0px;
  float: left;
  display: inline;
  margin-right: 10px;
}
.menu-left > div {
  margin: 15px 5px 15px 20px;
}
.menu-left > div > p{
  background: rgba(255,255,255,0.3);
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  width: 93%;
}
.menu-left > div > span > a {
  font-weight: 700;
  display: block;
  text-align: center;
  background: white;
  color: #008ba9;
  padding: 17px;
  border-radius: 8px;
  position: relative;
}
.menu-left > div > span > a > svg {
  width: 48px;
  display: inline;
  float: left;
  position: absolute;
  left: 12px;
  top: 5px;
  fill: #008ba9;
}
.menu-left > form > input {
  width: 70%;
}
p.welcome {
  margin: 0px 40px 20px 20px;
}
.disconnect {
  background-color: NULL;
}
  

  /************************ TABLE *********************************/

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
td.total {
  background-color: #2f6666;
  color: #ffffff;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
/***************************************************************/

header {
	background: #fff;
	width: 100%;
	height: 76px;
	/*position: fixed;*/
	top: 0;
	left: 0;
	border-bottom: 4px solid #4C9CF1;
	z-index: 100;
}

#logo{
	margin: 20px;
	float: left;
	width: 200px;
	height: 40px;
  background: url(/img/logo.jpeg) no-repeat center;
  background-size: contain;
	display: block;
}

.nav-top {
	float: right;
	padding: 20px;	
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
  background: #4C8FEC url(../img/menu-icon.png) center;
  background-size: contain;

}

.a-top:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

.ul-top.nav {
	list-style: none;
}

.li-top {

	display: inline-block;
	float: left;
	padding: 10px

}

.current {

	color: #2262AD;

}

.section-top {

	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px

}

.h1-top {
	font-size: 2em;
	color: #2262AD;
	line-height: 1.15em;
	margin: 20px 0 ;
}

.p-top {
	line-height: 1.45em;
	margin-bottom: 20px;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {
.menu-left {
  display: none;
}

  
	header {
		position: absolute;
	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

  }
  

/* ----------------------------------------------- */
/* ADM PAGE */
/* ----------------------------------------------- */

section.images > div.adm {
  background-color: red;
}
  /************************* MENU  LEFT*********************************/